<section class="content-header">

<section>

<section class="content">
<div class="row">
 <div class="col-md-2">
    <div class="box box-solid">
         <div class="box-header with-border">
           <h3 class="box-title">Menu</h3>
           <div class="box-tools">
             <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
           </div>
         </div>
         <div class="box-body no-padding">
           <ul class="nav nav-pills nav-stacked">
             <!-- <li class="active"><a href="#"><i class="fa fa-inbox"></i>Receitas</a></li> -->
             <li onclick="modalReceita()" style='cursor:pointer;'><a><i class="fa fa-plus"></i> Receitas</a></li>
             <li onclick="modalDespesa()" style='cursor:pointer;'><a><i class="fa fa-minus"></i> Despesas</a></li>
             <li style='cursor:pointer;'><a><i class="fa fa-exchange"></i> Transfencia</a></li>
             <li style='cursor:pointer;'><a><i class="fa fa-search"></i> Filtro</a></li>
           </ul>
         </div><!-- /.box-body -->
      </div><!-- /. box -->
    </div>
  <div class="col-md-10">
     <div class="box box-info">
              <div class="box-header">
                   <div Align="left">

                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                <div class="table-overflow">
                  <table id="example1" class="table table-bordered table-hover table-responsive table-condensed">
                    <thead>
                      <tr>
                        <th>Lançamento</th>
                        <th>Data Vencimento</th>
                        <th>Valor</th>
                        <th>Data Pagamento</th>
                        <th style="text-align:center">Ações</th>
                      </tr>
                    </thead>
                     <tbody id="tblancamento" >
                     </tbody>
                  </table>
                  </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <table id="example1" class="table table-bordered table-hover table-responsive table-condensed">
                      <thead>
                        <tr>
                          <td>Receitas: <span id="lbldespesa_paga"></span></td>
                          <td>Despesas: <span id="lbldespesa_a_paga"></span></td>
                          <td>Saldo Total: <span id="lbldespesa_atraso"></span></td>
                        </tr>
                      </thead>
                    </table>
                </div><!-- /.box-header -->
          </div><!-- /.box -->
      </div>
</section>

<!-- Modal para adionar receitas-->
<div id="myModalReceita" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal para adionar despesas-->
<div id="myModalDespesa" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nova Despesa</h4>
      </div>
      <div class="modal-body">
        <div class="row">
         <div class="col-md-6">
           Nome lançamento
           <input type="text" name="nome_lancamento" id="nome_lancamento" class="form-control">
         </div>
         <div class="col-md-2">
           Valor Despesa
           <input type="text" name="valr_lancamento" id="valr_lancamento" class="form-control">
         </div>
         <div class="col-md-2">
           Data Vencimento
           <input type="text" name="data_vencimento" id="data_vencimento" class="form-control">
         </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
      </div>
    </div>
  </div>
</div>


<%= render 'lancamentoJs' %>

<style media="screen">

.table-overflow {
    max-height:350px;
    overflow-y:auto;
}
</style>
