<p id="notice"><%= notice %></p>

<p>
  <strong>Nome movimento:</strong>
  <%= @tipomovifinanceiro.nome_movimento %>
</p>

<%= link_to 'Edit', edit_tipomovifinanceiro_path(@tipomovifinanceiro) %> |
<%= link_to 'Back', tipomovifinanceiros_path %>
