<p id="notice"><%= notice %></p>

<p>
  <strong>Nome formapagamento:</strong>
  <%= @formapagamento.nome_formapagamento %>
</p>

<%= link_to 'Edit', edit_formapagamento_path(@formapagamento) %> |
<%= link_to 'Back', formapagamentos_path %>
