<script type="text/javascript">
/*
 Neste arquivo deve ficar todo o javascript da funcionalidade tela
 de vendas
*/


//setando valor do id quando passado pela URL
$("#venda_id").val($.urlParam('id'));

 //função que busca os produtos autocomplete.
 $(document).ready(function() {
    $('#nome_produto').autocomplete({
    source: '/buscaproduto',
    dataType: 'json',
    minLength: 0,
    change: function(event, ui) {
    if (!ui.item) {
    $('#nome_produto').val('');
  }
 },
  //ação quando selecioar um produto da busca
 select: function(event, ui) {
  if (ui.item) {
      $("#produto_id").val(ui.item.id);
      $("#valor_unitario").val(ui.item.valor_venda);
    }
      $("#btnIncluirItem").focus();
      $("#qtd_produto").val(1);
    }
   });
 });

//Função para criar uma venda
 function criaVenda() {
  $.ajax({
    url: '/criarVenda',
    data : {},
    success: function(data){
      carrega_dados_venda(data);
     }
   })
 };

 //carrega dados da venda
function carrega_dados_venda(data){
  $("#venda_id").val(data.id);
  $("#codigo_venda").val(data.numr_codigo);
  $("#nome_cliente").val(data.nome_cliente);
  $("#cliente_id").val(data.cliente_id);
  $("#situacao").val(data.situacao);
  $("#nome_formapagamento").val(data.nome_formapagamento);
  $("#formapagamento_id").val(data.formapagamento_id);
  $("#valr_total").val(data.valr_total);
  $("#btnIncluirItem").prop("disabled",false)
 }

//Inclui intem na venda
 function incluiItem(){
       var itenvenda = { "valor_unitario": $('#valor_unitario').val(),
                         "qtd_item": $('#qtd_produto').val(),
                         "valr_total": $('#valr_total').val(),
                         "venda_id": $('#venda_id').val(),
                         "produto_id": $('#produto_id').val()
                  }
      $.ajax({
        url: 'incluiItemVenda',
        data : {
            itenvenda
        },
        success: function(data){
          buscaItensVenda();
        }
      })
  };


 //busca intens venda
 function buscaItensVenda() {
   $.ajax({
     url: '/buscaItensVenda',
     data : {
         venda_id : $("#venda_id").val()
     },
     success: function(data){
       monta_lista_itemvenda(data)
     }
   })
 };

//busca venda
function buscaVenda() {
  $.ajax({
    url: '/buscaVenda',
    data : {
        venda_id : $("#venda_id").val()
    },
    success: function(data){
      carrega_dados_venda(data);
      buscaItensVenda();
    }
  })
}

//monda lista de itens da venda
function monta_lista_itemvenda(data) {
    var html = "";
    $("#tbItemVenda").empty();
     for (var i in data) {
       var item = data[i];
       html += "<tr><td>"+item.nome_produto+"</td>";
       html += "<td>"+item.qtd_item+"</td>";
       html += "<td>"+item.valor_unitario+"</td>";
       html += "<td align='right'>"+item.valor_total+"</td></tr>";
      };

      if (data != ""){
        var result = data[0];
         $('#valr_total').val(result.valor_tatalvenda);
        }

   $("#tbItemVenda").append(html);
}
//Setando mascara dinheiro para campos valores
 $(function() {
  $("#valor_unitario").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
})

 //busca intem venda
 buscaVenda();

//busca

if($("#venda_id").val() != ""){
  $("#btnIncluirItem").prop("disabled",false)
}

</script>
