<script type="text/javascript">
/*
 Neste arquivo deve ficar todo o javascript da funcionalidade tela
 de vendas
*/


//setando valor do id quando passado pela URL
$("#venda_id").val($.urlParam('id'));
$("#btnCancelaVenda").hide();
$("#btnFinalizaVenda").hide();
$("#btnImprimirVenda").hide();

 //função que busca os produtos autocomplete.
 $(document).ready(function() {
    $('#nome_produto').autocomplete({
    source: '/buscaproduto',
    dataType: 'json',
    minLength: 0,
    change: function(event, ui) {
    if (!ui.item) {
    $('#nome_produto').val('');
  }
 },

//ação quando selecioar um produto da busca
 select: function(event, ui) {
  if (ui.item) {
      $("#produto_id").val(ui.item.id);
      $("#valor_unitario").val(ui.item.valor_venda);
    }
      $("#btnIncluirItem").focus();
      $("#qtd_produto").val(1);
    }
   });
 });

//Função para criar uma venda
 function criaVenda() {
   limpaTudo();
  $.ajax({
    url: '/criarVenda',
    data : {},
    success: function(data){
      carrega_dados_venda(data);
     }
   })
 };

 //carrega dados da venda
function carrega_dados_venda(data){
  $("#venda_id").val(data.id);
  $("#codigo_venda").val(data.numr_codigo);
  $("#nome_cliente").val(data.nome_cliente);
  $("#cliente_id").val(data.cliente_id);
  $("#situacao").val(data.situacao);
  $("#nome_formapagamento").val(data.nome_formapagamento);
  $("#formapagamento_id").val(data.formapagamento_id);
  $("#valr_total").val(data.valr_total);
  $("#btnIncluirItem").prop("disabled",false);
  $("#nome_produto").prop("disabled",false)
  $("#nome_produto").prop("disabled",false)
  $("#qtd_produto").prop("disabled",false)
  $("#valor_unitario").prop("disabled",false)
  $("#btnNovaVenda").hide();
  $("#btnNovaOcamento").hide();
  if(data.situacao == "Finalizada"){
    $("#btnCancelaVenda").hide();
    $("#btnFinalizaVenda").hide();
    $("#btnImprimirVenda").show();
    $("#btnNovaVenda").show();
    $("#btnNovaOcamento").show();
  }else{
    $("#btnCancelaVenda").show();
    $("#btnFinalizaVenda").show();
    $("#btnImprimirVenda").hide();
  }
 }

//Inclui intem na venda
 function incluiItem(){
       var itenvenda = {
              "valor_unitario": $('#valor_unitario').val(),
              "qtd_item": $('#qtd_produto').val(),
              "venda_id": $('#venda_id').val(),
              "produto_id": $('#produto_id').val()
                      }
      $.ajax({
        url: 'incluiItemVenda',
        data : {
            itenvenda
        },
        success: function(data){
          if (!data.inclusao){
            modalMsg(data.msg);
            return;
          }
          buscaItensVenda();
          limpaCabecalhoVenda();
          $("#nome_produto").focus();
        }
      })
  };

 // calculando valor total do item de acordo com a quantidade
 $("#qtd_item").blur(function () {
   var v = $("#preco_item").val().replace(",", ".");
   console.log(v);
   var qtd = $("#qtd_item").val();
   var valor = qtd*v;
   $("#precototal_item").val(valor.toFixed(2).toString().replace(".", ","));

});

//Alterar venda
function alteratem(){
        $.ajax({
          url: 'alterarItemVenda',
          data : {
              id : $('#itenvenda_id').val(),
              valor_unitario : $('#preco_item').val(),
              valr_total : $('#precototal_item').val(),
              qtd_item : $('#qtd_item').val()
          },
          success: function(data){
            if (!data.alteracao){
               modalMsg(data.msg);
              return;
            }
            buscaItensVenda();
            carrega_dados_item(data);
            //limpaItemVenda();
        }
      })
  };

 //busca intens venda
 function buscaItensVenda() {
   $.ajax({
     url: '/buscaItensVenda',
     data : {
         venda_id : $("#venda_id").val()
     },
     success: function(data){
       monta_lista_itemvenda(data);
       monta_lista_cupom(data);
     }
   })
 };

//busca venda
function buscaVenda() {
  $.ajax({
    url: '/buscaVenda',
    data : {
        venda_id : $("#venda_id").val()
    },
    success: function(data){
      carrega_dados_venda(data);
      carrega_dados_cupom(data);
      buscaItensVenda();
      limpaItemVenda();
      limpaCabecalhoVenda();
    }
  })
};

//carrega dados cupom
function carrega_dados_cupom(data) {
   $("#data_venda_cupom").text(data.data_venda);
   $("#numr_codigo_cupom").text(data.numr_codigo);
   $("#forma_pagamento_cupom").text(data.nome_formapagamento);
   $("#nome_cliente_cupom").text(data.nome_cliente);
};

//monda lista de itens da venda
function monta_lista_itemvenda(data) {
    var html = "";
    $("#tbItemVenda").empty();
     for (var i in data) {
       var item = data[i];
       html += "<tr  style='cursor:pointer;' onclick='selectItem("+item.id+")'>";
       html += "<td>"+item.nome_produto+"</td>";
       html += "<td>"+item.qtd_item+"</td>";
       html += "<td>"+item.valor_unitario+"</td>";
       html += "<td align='right'>"+item.valor_total+"</td></tr>";
      };

      if (data != ""){
        var result = data[0];
         $('#valr_total').val(result.valor_tatalvenda);
      }

   $("#tbItemVenda").append(html);
};

//monda lista modal cupom
function monta_lista_cupom(data) {
    var html = "";
    $("#tbListaCupom").empty();
     for (var i in data) {
       var item = data[i];
       html += "<tr>";
       html += "<td>"+item.nome_produto+"</td>";
       html += "<td align='center'>"+item.qtd_item+"</td>";
       html += "<td align='center'>"+item.valor_unitario+"</td>";
       html += "<td align='right'>"+item.valor_total+"</td></tr>";
      };

      if (data != ""){
        var result = data[0];
           $("#valor_total_cupom").text(result.valor_tatalvenda);
      }

   $("#tbListaCupom").append(html);
};

function modalMsg(msg) {
  $('#txtmsg').text(msg);
  $('#myModalMsg').modal('show');
}

//chama modal cancela venda
function modalCancelarVenda() {
  $('#myModalCancelar').modal('show');
}

//cancela venda
function cancelaVenda() {
  $.ajax({
    url: '/cancelaVenda',
    data : {
        venda_id : $("#venda_id").val()
    },
    success: function(data){
      window.location.href = "/pdv";
    }
  })
}

//limpa toda a tela de vendas
function limpaTudo() {
   limpaItemVenda();
   limpaCabecalhoVenda();
   $("#tbItemVenda").empty();
   $("#venda_id").val("");
}

// seleciona item na venda para ações de exclusão e update
function selectItem(id) {
  $.ajax({
    url: '/buscaitenvenda',
    data : {
        itenvenda_id: id
    },
    success: function(data){
     carrega_dados_item(data);
    }
  })
};

//chama modal finalizar
function modalFinalizar() {
  $('#myModalFinalizar').modal('show');
}

//finalizar venda
function finalizaVenda() {
  $.ajax({
    url: '/finalizaVenda',
    data : {
        venda_id : $("#venda_id").val()
    },
    success: function(data){
      buscaVenda();
      $('#myModalFinalizar').modal('hide');
      $("#btnCancelaVenda").hide();
      $("#btnFinalizaVenda").hide();
    }
  })
}

// dados item lateral
function carrega_dados_item(data) {
  $("#itenvenda_id").val(data.id);
  $("#nome_item").val(data.nome_item);
  $("#qtd_item").val(data.qtd_item);
  $("#preco_item").val(data.preco_item);
  $("#precototal_item").val(data.precototal_item);
  $("#qtdtxtestoque").text("Qtd estoque" +" "+ data.qtd_estoque);
  $("#btnDeletaItem").prop("disabled",false)
  $("#btnAtualizaItem").prop("disabled",false)
}

//deleta item da venda
function deletaItem() {
  $.ajax({
    url: '/itenvendas/'+ $("#itenvenda_id").val(),
    type: 'DELETE',
    data : {},
     success: function(data){
       buscaVenda();
       limpaItemVenda();
    }
  })
};


//limpa dados item venda lateral
function limpaItemVenda() {
  $("#itenvenda_id").val("");
  $("#nome_item").val("");
  $("#qtd_item").val("");
  $("#preco_item").val("");
  $("#qtdtxtestoque").text("");
  $("#precototal_item").val("");
  $("#btnDeletaItem").prop("disabled",true)
  $("#btnAtualizaItem").prop("disabled",true)
};

function limpaCabecalhoVenda() {
  $("#nome_produto").val("");
  $("#produto_id").val("");
  $("#qtd_produto").val("");
  $("#valor_unitario").val("");
}

// verifica se tem caixa aberto
function selectItem(id) {
  $.ajax({
    url: '/buscaitenvenda',
    data : {
        itenvenda_id: id
    },
    success: function(data){
     carrega_dados_item(data);
    }
  })
};

//Setando mascara dinheiro para campos valores
 $(function() {
  $("#valor_unitario").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
  $("#valr_total").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
  $("#preco_item").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
  $("#precototal_item").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
})


//busca
if($("#venda_id").val() != ""){
  //busca intem venda
     buscaVenda();
  $("#btnIncluirItem").show();

}else {
  $("#btnNovaVenda").focus();
}


function modalCupom() {
  $('#myModalCupom').modal('show');
}

function printCupom() {
  $("#cupomImprimir").printElement();
}


</script>
