<section class="content">
<div class="panel panel-default">
  <div class="panel-body">
    <input type="hidden" id="venda_id">
    <div class="row">
     <div class="col-md-9">
       <div class="row">
         <div class="col-md-7">
            Produto/Serviço<br>
            <input type="text" class="form-control" id="nome_produto" name="nome_produto" placeholder="Pesquise pelo produto ou serviço" onfocus="javascript:$(this).autocomplete('search','')" disabled>
            <input type="hidden" id="produto_id">
         </div>
         <div class="col-md-2">
           Qtd<br>
            <input type="text" class="form-control" id="qtd_produto" disabled>
         </div>
         <div class="col-md-2">
            Valor Uni.<br>
            <input type="text" class="form-control" id="valor_unitario" disabled>
         </div>
         <div class="col-md-1">
           Incluir<br>
           <button type="button" class="btn btn-default" id="btnIncluirItem" onclick="incluiItem()" disabled>
             <span class="glyphicon glyphicon glyphicon-plus"></span>
           </button>
         </div>
        </div>
        <br>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="box-body table-responsive no-padding">
              <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Produto/Serviço</th>
                <th>Qtd</th>
                <th>Valor Uni.</th>
                <th style="text-align:right">Valor Total</th>
              </tr>
            </thead>

            <tbody id="tbItemVenda">

             </tbody>
           </table>
           </div>
         </div>
       </div>
       <div align="right">
         <div class="row">
           <div class="col-md-8">
           </div>
           <div class="col-md-1">
            <label style="font-size:30px">Total</label>
           </div>
           <div class="col-md-3">
             <input type="text"  style="font-size:25px;color:#fe1a0d;font-weight: bold" class="form-control input-lg" id="valr_total" >
           </div>
         </div>
       </div>
     </div>

    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="panel-body">
            <div class="row">
              <!-- <div class="col-md-12">
                <label>Código<br>
                <input type="text" class="form-control" id="codigo_item" disabled>
              </div> -->
              <div class="col-md-12">
                <label>Produto</label>   <i style="color:red"><small id="qtdtxtestoque"></small></i>
                <input type="text" class="form-control" id="nome_item" disabled>
              </div>

              <input type="hidden" id="itenvenda_id">

              <div class="col-md-12">
                <label>Quantidade</label>
                <input type="text" class="form-control" id="qtd_item">
              </div>
              <div class="col-md-12">
                <label>Preço Unitário</label>
                <input type="text" class="form-control" id="preco_item">
              </div>
              <div class="col-md-12">
                <label>Preço Total</label>
                <input type="text" class="form-control" id="precototal_item">
              </div>
              <div class="col-md-12">
               <hr>
              <button type="button" class="btn btn-danger" style="width:49%" onclick="deletaItem()" id="btnDeletaItem" disabled>
                <span class="glyphicon glyphicon-trash"></span> Excluir
              </button>
              <button type="button" class="btn btn-success" style="width:49%" id="btnAtualizaItem" onclick="alteratem()" disabled>
                 <span class="glyphicon glyphicon-refresh"></span> Atualizar
               </button>
             </div>
            </div>
          </div>
         </div>
        </div>
      </div>

       <div class="panel panel-default">
         <div class="panel-body">
           <div class="row">
             <div class="col-md-2">
               <label>Cod. Venda/Orça</label>
               <input type="text" class="form-control input-sm" id="codigo_venda" disabled>
             </div>
             <div class="col-md-3">
               <label>Cliente</label>
               <input type="text" class="form-control input-sm" id="nome_cliente" disabled>
               <input type="hidden" name="cliente_id" >
             </div>
             <div class="col-md-2">
               <label>Situação</label>
               <input type="text" class="form-control input-sm" id="situacao" disabled>
             </div>
             <div class="col-md-2">
               <label>Forma Pagamento</label>
               <input type="text" class="form-control input-sm" id="nome_formapagamento" disabled>
               <input type="hidden" name="formapagamento_id">
             </div>
           </div>
         </div>
       </div>

       <div class="well well-sm">
            <button type="button" class="btn btn-primary" onclick="criaVenda()" id="btnNovaVenda">
               <span class="glyphicon glyphicon glyphicon-plus"></span> Nova Venda
             </button>
             <button type="button" class="btn btn-info" onclick="criaOrçamento()" id="btnNovaOcamento" data-toggle="tooltip" title="Indisponível no momento" disabled>
                <span class="glyphicon glyphicon glyphicon-plus"></span> Orçamento
              </button>
             <button type="button" class="btn btn-danger" onclick="modalCancelarVenda()" id="btnCancelaVenda">
               <span class="glyphicon glyphicon-remove-circle"></span> Cancelar
             </button>
             <button type="button" class="btn btn-success" id="btnFinalizaVenda" onclick="modalFinalizar()">
               <span class="glyphicon glyphicon-ok"></span> Finalizar
             </button>
             <button type="button" class="btn btn-success" id="btnImprimirVenda" id="btnImprimirVenda" onclick="modalCupom()">
               <span class="glyphicon glyphicon-print"></span> Imprimir
             </button>
        </div>
      </div>
  </div>
</div>

</section>
<!-- Modal -->
<div id="myModalMsg" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Aviso</h4>
      </div>
      <div class="modal-body">
        <p id="txtmsg"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="myModalCancelar" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmação</h4>
      </div>
      <div class="modal-body">
        <p>Deseja realmente cancelar a venda?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="cancelaVenda()">Sim</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="myModalFinalizar" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmação</h4>
      </div>
      <div class="modal-body">
        <p>Deseja realmente finalizar a venda?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="finalizaVenda()">Sim</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
      </div>
    </div>

  </div>
</div>


<div id="myModalCupom" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body dotted" style="font-size: 11px" id="cupomImprimir">

        <style type="text/css">
        table th, table td {
        border-bottom-style:
        dotted;
        border-color:gray;
        border-width: 0px;
        font-family: "Courier New", Courier, monospace;
        font-size: 100%;
        }
        p.serif {
        font-family: "Courier New", Courier, monospace;
        font-size: 100%;
        }
        hr {
        borderstyle:
        dotted;
        border-color:gray;
        border-width: 1px;
        }
        </style>

        <div align="center"><strong> <%=current_user.empresa.nome_empresa.upcase%></strong></div>
        <div align="center"><%=current_user.empresa.endereco_completo%></div>
        <p class="serif">
         <strong>CLIENTE:</strong><span id="nome_cliente_cupom"></span>
        </p>
        <div align="center"><strong> CUPOM NÂO FISCAL</strong></div>
        <br>
        <table width="100%">
          <tr>
           <td><strong>DT. VENDA</strong>: <span id="data_venda_cupom"></span>
           </td>
         </tr>
         <tr>
           <td><strong>COMPROVANTE VENDA N° </strong>: <span id="numr_codigo_cupom"></span></td>
         </tr>
        </table>
        <hr>

        <table width="100%">
        <thead>
         <tr>
          <td align='left'><strong>Descricao</strong></td>
          <td align='center'><strong>Qtd</strong></td>
          <td align='center'><strong>P.Uni</strong></td>
          <td align='right'><strong>V.Item</strong></td>
         </tr>
         </thead>
         <tbody id="tbListaCupom">
          </tbody>
        </table>
       <hr style="margin-bottom: 0;margin-top: 0;">
      <table width="100%">
         <tr>
           <td><strong>Total  R$</strong></td>
           <td align='right'><p id="valor_total_cupom"></p></td>
         </tr>
         <tr><td><br></td><tr>
         <tr>
           <td><strong>FORMA PGTO:</strong><span id="forma_pagamento_cupom"></span></td>
           <td align='left'></td>
         </tr>
      </table>
      <br>
       <div align="center"><strong> ** OBRIGADO VOLTE SEMPRE **</strong></div>
      </div>
        <br>
       <button type="button" class="btn btn-primary btn-block" onclick="printCupom();"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimir </button>
    </div>
  </div>
</div>

<div id="myDivToPrint" name="myDivToPrint">

  <table width="100%" name="tlbItensComanda" id="tlbItensComanda">
    <tbody id="bodyTlbComanda">
      <tr class="dotted">
      </tr>
    </tbody>
  </table>
</div>

<!-- inclusão do arquivo javascript na pagina -->
<%= render 'vendaJs'%>
